
        body {background-color:rgb(153, 241, 255);
             text-align:right;
              }
            h3 {color:rgb(36, 125, 121);}
            li{color:rgb(255, 0, 0);}
            .intro {color:rgb(77, 60, 150);}
            .lugar {color:rgb(191, 0, 255);}
